-r requirements.txt
aioesphomeapi
aiohttp-zlib-ng # to avoid performance warning
aiousbwatcher
ibeacon_ble
kegtron_ble
pytest~=9.0.3
pytest-homeassistant-custom-component==0.13.336
serialx~=1.8.0
wheel

