pip>=21.3.1
homeassistant>=2023.8.0
home-assistant-bluetooth
habluetooth
bluetooth-adapters
pytest
pytest-cov
pytest-socket
sqlalchemy
freezegun
requests-mock
syrupy
aiohttp
aiohttp_cors
aiohttp-fast-url-dispatcher
aiohttp-zlib-ng
bleak
bleak-retry-connector
bluetooth-data-tools
pyserial-asyncio
