homeassistant==2026.6.0
aiobmsble @ git+https://github.com/patman15/aiobmsble.git@9334fbf737d9432ad863da0fe894da0695f17d16
ruff~=0.15.0
pylint~=4.0.5
pylint-per-file-ignores~=3.2.1
pre-commit~=4.6.0
mypy~=2.1.0
