-r requirements.txt
wheel
home-assistant-bluetooth
habluetooth~=5.3.0
aiousbwatcher~=1.1.1
bluetooth-adapters~=2.1.0
hypothesis~=6.135.22
pytest~=8.4.1
pytest-socket~=0.7.0
sqlalchemy~=2.0.41
freezegun~=1.5.2
requests-mock~=1.12.1
aiohttp
aiohttp_cors
aiohttp-fast-url-dispatcher
aiohttp-zlib-ng
bluetooth-data-tools
pyserial-asyncio
pyudev
pytest-homeassistant-custom-component==0.13.277
kegtron-ble~=0.4.0
