name: Run tests for integrations

on:
  push:
  pull_request:
  workflow_dispatch:
  
jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository" 
          uses: "actions/checkout@v4"
        
        - name: "Set up Python"
          uses: actions/setup-python@main
          with:
            python-version: "3.11"
            cache: "pip"
                    
        - name: Install dependencies
          run: pip install -r requirements_test.txt
          
        - name: Run tests and collect coverage
          run: pytest --cov-report term-missing --cov-fail-under=100
