name: Validate with HACS

permissions:
  contents: read

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * 6'  

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v4"
        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"
